
 <h1 class= "Menu-ListTitle"> Welcome to the Cafe</h1><br><br>
<p>Cafe Owner <br><%= link_to "Login", new_sessions_path %></p>
<br><br>
<p>Existing User <br> <%= link_to "Login", new_sessions_path %></p>
<br><br>
<p>New User? <br><%= link_to "Sign Up Here", new_cafe_path %></p>
