<ul>
    <li class = "Menu-categoryLable">
     <%= section_title %> </li>
    <li>
     <h3 class = "Menu_header" > Menu Item
     <h3 class = "Menu_header" > Rate
     </li>
     <% MenuItem.all.each do |menu| %>
        <% if menu.menu_category_id == cat_id %>
            <li class = "Menu-td">
            <%= menu.name %>
            <%= menu.price %>
            <a href="javascript:void(0)">
              <%= form_with(url: "/sessions/customer/#{menu.id}", method: "post") do %>
                 <input type="image" src = "../../plus-box.svg"/> </a>
              <% end %>
            </li>
            </article>
      <% end %>

    <% end %>
  </ul>
