
<% if session[:current_user_id] %>

  <p class = "UserHeader">
    Welcome <%= session[:current_user_name] %>
    <%= link_to "Sign-out", destroy_session_path, method: "delete" %>  <%= link_to image_tag("/../../cart.svg"), "/order/custview" %>
  </p>


<main>
<article>
  <h1 class= "Menu-ListTitle"> Menu List </h1>



    <% MenuCategory.all.each do |menuCat| %>
      <%= render partial: "menu-section", locals: {
                   section_title: menuCat.name,
                   cat_id: menuCat.id,
                 } %>
    <% end %>
</article>
</main>
<% else %>


<script type="text/javascript">
    window.location.href="/signin"
  </script>

<% end %>
