<h1> Welcome to Cafe App </h1>
<% if @current_user %>
  <p class = "UserHeader">
    Welcome <%= @current_user.first_name %>!
    <%= link_to "Sign-out", destroy_session_path, method: "delete" %>
  </p>
<% end %>
<main>
<article>
  <h1 class= "Menu-ListTitle"> Menu List </h1>
  <%= link_to image_tag("/../../cart.svg"), "/order/custview" %>


    <% MenuCategory.all.each do |menuCat| %>
      <%= render partial: "menu-section", locals: {
                   section_title: menuCat.name,
                   cat_id: menuCat.id,
                 } %>
    <% end %>
</article>
</main>
