<ul>
    <li class = "Menu-categoryLable">
     <%= section_title %> </li>
    <li class = "Menu_header" >
      Menu Item
      Rate
     </li>
     <% MenuItem.all.each do |menu| %>
        <% if menu.menu_category_id == cat_id %>
            <li class = "Menu_header">
            <label class="Item-container" >
            <%= menu.name %>
            <%= menu.price %> INR
            <a href="javascript:void(0)">
              <%= form_with(url: "/menu/show/#{menu.id}", method: "delete") do %>
                 <input type="image" src = "../../trashcan.svg"/>
              <% end %> </a>
            </li>

      <% end %>

    <% end %>
  </ul>
