<html>
<head>
</head>
<body class = "UserHeader">
<h1 class = "Home-title"> Welcome to the Todo homepage </h1>

<h3 class = "Home-authenticate">
  Cafe Owner Login
</h3>

<h3 class = "Home-authenticate">
  If you are a new user
</h3>

<h3 class = "Home-authenticate">
  If you are an existing user
</h3>

</body>
</html>
