<section>
  <div >
    <p><%= section_title %></p>
  </div>
 <ul>
  <% MenuItem.all.each do |menu| %>
    <li>
      <label>
        <%= form_with(url: "/owner/#{menu.id}", method: "put") do %>
          <%= menu.name %>
        <% end %>
      </label>
    </li>
  <% end %>
</ul>
</section>
