.Home-title {
  margin-top: 40px;
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(54, 54, 56);
}

.Home-authenticate {
  font-size: 16px;
  margin-bottom: 20px;
  color: rgb(53, 53, 56);
}
.UserHeader {
  padding: 10px;
  background-color: lightgray;
  font-size: 14px;
  margin-bottom: 10 px;
  display: flex;
  justify-content: space-between;
}
.Flash-error {
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;
}
