.Owner-back {
  margin-top: 30px;
  font-size: 15px;
  color: rgb(54, 54, 56);
  display: flex;
  padding-inline-end: 20px;
}
.Owner-menu-title {
  margin-top: 30px;
  font-size: 15px;
  margin-bottom: 30px;
  color: rgb(54, 54, 56);
  display: inline-flex;
}
.Owner-menu {
  margin-top: 50px;
  font-size: 15px;
  color: rgb(54, 54, 56);
  padding-inline-end: 20px;
}
