.NewUsers-title {
  margin-bottom: 40px;
  font-size: 30px;
}
.Form-section {
  margin-bottom: 20px;
}
.Form-input {
  font-size: 20px;
  padding: 8px;
}
.FormInput-label {
  color: rgb(21, 22, 22);
  margin-bottom: 8px;
}
.Form-submit {
  background-color: #4bbb78;
  border: 1px solid transparent;
  padding: 8px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.Menu-section {
  font-size: 20px;
  margin-top: auto;
  color: rgb(13, 116, 116);
}
.Menu-home {
  margin-top: 20px;
  font-size: 40px;
  margin-bottom: 20px;
  color: rgb(53, 53, 56);
}
.Menu-label {
  padding: 5px;
  font-size: 15px;
  margin-bottom: 3px;
  color: rgb(21, 22, 22);
  display: flex;
}
.Cafe-button {
  background-color: #4bbb78;
  border: 1px solid transparent;
  color: white;
  padding: 8px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.List-anchor {
  padding: 10px;
  display: inline-flex;
}
